.titulo{
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    color: aliceblue;
}
body{
    background-color: rgba(255, 105, 180, 0.466);
}
.barra{
    background-color: rgb(255, 105, 180);
}
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');